= form_for(@post) do |f|
    = f.label :title
    %br
    = f.text_field :title, class: 'form-control'
    %br
    = f.label :body
    %br
    = f.text_area :body, class: 'form-control'
    %br
    #hashtags
        = f.label 'Tags'
        = f.fields_for :hashtags do |hashtag|
            = render 'hashtag_fields', f: hashtag
        .links
            = link_to_add_association 'Add #tag', f, :hashtags
    %br
    = link_to "Back", root_path, class: "btn btn-default"
    = f.submit class: "btn btn-primary"