%h1= @post.title
%h5
    %span.glyphicon.glyphicon-time 
    Posted by John
    = time_ago_in_words(@post.created_at)
    ago

- if user_signed_in?
    %p
        = link_to "Edit", edit_post_path(@post)
        |
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
        
%p= @post.body
%hr

#comments
    %h4= pluralize(@post.comments.count, "Comment")
    = render @post.comments
    %hr
    %h4 Add comment
    = render 'comments/form'

%hr
= link_to "Back", root_path, class: "btn btn-default"